# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Log files
logfile.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo/React Native cache
.expo/
.expo-shared/

# Build artifacts
*.apk
*.ipa
*.app

# Metro bundler cache
.expo/*
.expo-shared/*
.cache/
dist/
build/
android/app/build/
ios/build/
ios/Pods/

# Xcode junk
ios/DerivedData/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# VSCode settings
.vscode/

# Misc
*.log
